[Model]
ModelName           = ResNet20
Log                 = resnet20_cifar10.log
Resume              = false
ModelPath           = resnet20_cifar10.pth

[Train]
train_batch_size    = 2
maxEpochs           = 160
momentum            = 0.9
weight_decay        = 0.0001
train_shuffle       = false
fix_w               = false
weightFile          = none

[Test]
test_batch_size     = 128
test_shuffle        = false
